<div class="flex h-screen flex-col items-center justify-center">
  <h1 class="mb-4 text-6xl font-bold text-red-500">Oh No!</h1>
  <h2 class="mb-2 text-3xl font-bold text-gray-800">Looks like you went astray...</h2>

  <p class="mb-6 text-gray-600">
    We couldn&apos;t find the page you are looking for.
  </p>

  <p class="text-gray-600">
    Need not worry! Go back to continue browsing!
  </p>

  <a
    routerLink=""
    class="mt-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-500"
  >Go back to Home</a>
</div>

